apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: minio
  namespace: mrva
spec:
  selector:
    matchLabels:
      app: minio
  serviceName: minio
  replicas: 1
  template:
    metadata:
      labels:
        app: minio
    spec:
      containers:
      - name: minio
        image: minio/minio:RELEASE.2024-06-11T03-13-30Z
        args: ["server", "/data", "--console-address", ":9001"]
        envFrom:
          - configMapRef:
              name: mrva-config
          - secretRef:
              name: mrva-secrets
        ports:
          - containerPort: 9000
          - containerPort: 9001
        volumeMounts:
          - name: minio-data
            mountPath: /data
  volumeClaimTemplates:
    - metadata:
        name: minio-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 20Gi
